<!DOCTYPE html>
<html lang="en"  ng-app="app5" ng-cloak>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    [ng\:cloak],[ng-cloak],.ng-cloak,[data-ng-cloak],[x-ng-cloak],.x-ng-cloak{
      display:none;
    }
    table{
      width: 400px;
      text-align: left;
      border: 2px solid black;
      padding: 10px;
    }
    input.ng-dirty.ng-invalid{
      border-color: red;
    }

  </style>
</head>
<body>
<div class="ng-cloak" ng-controller="gListCtrl">
  <h3>Grocery List</h3>
  <table>
    <thead>
    <tr>
      <th>Item</th>
      <th>Purchased</th>
    </tr>
    </thead>
    <tr ng-repeat="grocery in groceries">
      <td>{{grocery.item}}</td>
      <td><input type="checkbox" ng-model="grocery.purchased"></td>
    </tr>

  </table>

  <br><br>
  <label>New Item :
    <input type="text" ng-model="newItem"/>
  </label>
  <button ng-click="addItem(newItem)">Add Item</button>
  <h4>{{missingNewItemError}}</h4>
<p>This item is: {{newItem}} </p>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>

<script src="js/exam5.js"></script>
</body>
</html>
